/*body*/
html{
     background-color:rgb(116, 16, 143);
     
}
body{
    margin:0 auto;
    width: 90%;
    
    color:rgb(183, 255, 0)
}

p{
    font-size: 20px;
}



/*header*/
h1,h2{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color:rgb(48, 3, 48)
}

h1 {
    font-size: 48px;

}

h2 {
    font-size: 36px;
}
/*canvas*/

.canvas-container {
    margin: 0 auto;
    text-align: center;

}

.canvas-container p {

    font-size: 12px;
}



canvas {
    border-radius: 10px 10px 0px 0px;
    
}

/*legend*/

ul > li {
    display: inline-block;
    font-size: 24px;
    margin-top: 0;
    margin-right: 3.75%;

}

#red{
    color:red;

}

#blue{
    color: blue;

}

#green{
    color:green;

}


/*ui*/

.lil-gui.root{
    width:28%;
    margin-left: 36%;
    border-radius: 10px;
  
}




#lil-gui-name-1{
    color: purple;
}

#lil-gui-name-2{
    color: blue;
}

#lil-gui-name-3 {
    color: lime;
}

#lil-gui-name-5{
    color:royalblue;

}

#lil-gui-name-6{
    color:brown;

}
#lil-gui-name-7{
    color: orange;

}